.post-date{
    background-color: gray;
    padding: 4px;
    margin: 3px 6px;
    display: block;
}
.post-thumb{
    width: 100%;
}
.pagination-links{
    margin: 30px 0;
}
.pagination-links{
    padding: 8px 13px;
    margin: 5px;
    background: grey;
    border: 1px grey solid;
}
a.pagination-link{
    padding: 8px 13px;
    margin: 5px;
    background: grey;
    border: 1px grey solid;
}
.cat-delete{
    display: inline;
}